@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

  .mainWindow{
        display: flex;
        flex-direction: column;
        height: 100%
    }
  .FirstRow
  {
    
    /* background-color: rgb(54, 100, 185); */
    flex:10;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .SecondRow
  {
    flex:9;
    display: flex;
    /* background-color: rgb(21, 206, 21); */
    
  }
  .paragraph
  {
    background-color: aquamarine;
    flex:6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .images
  {
    flex: 5;
    /* background-color: rgb(152, 25, 25); */
    justify-content: center;
    align-items: center;
  }
  .ThirdRow
  {
    flex:3;

    /* background-color: rgb(52, 19, 202); */
    /* background-color: rgb(206, 21, 30); */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .rectangle
  {
    height: 60%;
    width: 30vw;
    display: flex;
    margin-left: 80px;
    margin-right: 200px;
    flex-direction: row; 
    /* flex-direction: column; */
    background: linear-gradient(#0b121b, #20405a);
    border-radius: 30px;
    justify-content: center; /* Horizontally center the content */
    align-items: center; 
    color: #ffffff;
    -webkit-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.64);

-moz-box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.64);

box-shadow: 0px 3px 23px 0px rgba(0,0,0,0.64);
  }
  .rec1
  {
    flex:4;
    margin-top: 5px;
    
    margin-left: 12px;
    /* background-color: rgb(64, 30, 214); */
    /* width: 100%;
    height: 100%; */
  /* Vertically center the content */
  
  }
  .rec2
  {
   /* background-color: rgb(85, 207, 91); */
   flex:9;
   display: flex;
   flex-direction: column; 
   margin-top: 5px;
   margin-right: 5px;
   font-size: xx-large;
   color: #5ce1e6;
   font-family: 'Inter', sans-serif;
   font-weight: bold;
    /* width: 100%;
    height: 100%; */
  }
  .rec1 img{
    width: 100%;
    height: 100%;
  }
  .logo
  {
    height: 7vh;
  }