.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  background: linear-gradient( #132839,#4a7abd);
  flex-direction: row;
  font-size: large;
}
.column1{
  width: 5vw;
  height: 100vh;
}
.column2{
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

